In [1]:
import pandas as pd

In [2]:

# Load your sales data
sales_data = pd.read_parquet('sales.parquet.gzip')
sales_data.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [3]:
sales_data[(sales_data['date'] >= "2013-01-01") & (sales_data['date'] <= '2013-01-01') & (sales_data['family'] == "AUTOMOTIVE")]

        id        date  store_nbr      family  sales  onpromotion
0        0  2013-01-01          1  AUTOMOTIVE    0.0            0
33      33  2013-01-01         10  AUTOMOTIVE    0.0            0
66      66  2013-01-01         11  AUTOMOTIVE    0.0            0
99      99  2013-01-01         12  AUTOMOTIVE    0.0            0
132    132  2013-01-01         13  AUTOMOTIVE    0.0            0
165    165  2013-01-01         14  AUTOMOTIVE    0.0            0
198    198  2013-01-01         15  AUTOMOTIVE    0.0            0
231    231  2013-01-01         16  AUTOMOTIVE    0.0            0
264    264  2013-01-01         17  AUTOMOTIVE    0.0            0
297    297  2013-01-01         18  AUTOMOTIVE    0.0            0
330    330  2013-01-01         19  AUTOMOTIVE    0.0            0
363    363  2013-01-01          2  AUTOMOTIVE    0.0            0
396    396  2013-01-01         20  AUTOMOTIVE    0.0            0
429    429  2013-01-01         21  AUTOMOTIVE    0.0            0
462    462  2013-01-01         22  AUTOMOTIVE    0.0            0
495    495  2013-01-01         23  AUTOMOTIVE    0.0            0
528    528  2013-01-01         24  AUTOMOTIVE    0.0            0
561    561  2013-01-01         25  AUTOMOTIVE    0.0            0
594    594  2013-01-01         26  AUTOMOTIVE    0.0            0
627    627  2013-01-01         27  AUTOMOTIVE    0.0            0
660    660  2013-01-01         28  AUTOMOTIVE    0.0            0
693    693  2013-01-01         29  AUTOMOTIVE    0.0            0
726    726  2013-01-01          3  AUTOMOTIVE    0.0            0
759    759  2013-01-01         30  AUTOMOTIVE    0.0            0
792    792  2013-01-01         31  AUTOMOTIVE    0.0            0
825    825  2013-01-01         32  AUTOMOTIVE    0.0            0
858    858  2013-01-01         33  AUTOMOTIVE    0.0            0
891    891  2013-01-01         34  AUTOMOTIVE    0.0            0
924    924  2013-01-01         35  AUTOMOTIVE    0.0            0
957    957  2013-01-01         36  AUTOMOTIVE    0.0            0
990    990  2013-01-01         37  AUTOMOTIVE    0.0            0
1023  1023  2013-01-01         38  AUTOMOTIVE    0.0            0
1056  1056  2013-01-01         39  AUTOMOTIVE    0.0            0
1089  1089  2013-01-01          4  AUTOMOTIVE    0.0            0
1122  1122  2013-01-01         40  AUTOMOTIVE    0.0            0
1155  1155  2013-01-01         41  AUTOMOTIVE    0.0            0
1188  1188  2013-01-01         42  AUTOMOTIVE    0.0            0
1221  1221  2013-01-01         43  AUTOMOTIVE    0.0            0
1254  1254  2013-01-01         44  AUTOMOTIVE    0.0            0
1287  1287  2013-01-01         45  AUTOMOTIVE    0.0            0
1320  1320  2013-01-01         46  AUTOMOTIVE    0.0            0
1353  1353  2013-01-01         47  AUTOMOTIVE    0.0            0
1386  1386  2013-01-01         48  AUTOMOTIVE    0.0            0
1419  1419  2013-01-01         49  AUTOMOTIVE    0.0            0
1452  1452  2013-01-01          5  AUTOMOTIVE    0.0            0
1485  1485  2013-01-01         50  AUTOMOTIVE    0.0            0
1518  1518  2013-01-01         51  AUTOMOTIVE    0.0            0
1551  1551  2013-01-01         52  AUTOMOTIVE    0.0            0
1584  1584  2013-01-01         53  AUTOMOTIVE    0.0            0
1617  1617  2013-01-01         54  AUTOMOTIVE    0.0            0
1650  1650  2013-01-01          6  AUTOMOTIVE    0.0            0
1683  1683  2013-01-01          7  AUTOMOTIVE    0.0            0
1716  1716  2013-01-01          8  AUTOMOTIVE    0.0            0
1749  1749  2013-01-01          9  AUTOMOTIVE    0.0            0

In [4]:
sales_data['date'].max()

'2017-08-15'